*{
  margin: 0;
  padding: 0;
 }

#spaceBlob {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header {
  display: block;
  background-color: rgb(25, 30, 40);
  width: 100%;
}

#img {
  display: inline-block;
  width: 1024px;
  height: 1024px;
}

#line {
  width: 350px;
  height: 5px;
  background-color: aliceblue;
}

.majorSegLight {
  display: block;
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
}

.majorSegDark {
  display: block;
  background-color: rgb(15, 20, 25);
  width: 100%;
  height: 100vh;
}

.textLight {
  text-align: center;
  color: aliceblue;
  margin: 5px;

  font-family: 'Courier New', Courier, monospace;
}

.splashTextCont {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#stars {
  max-width: 256px;
  max-height: 256px;
}

svg:hover {
  animation: traceAnim 0.5s ease-in forwards;
}
 
@keyframes traceAnim {
    100% {
      stroke-dashoffset: 0;
  }
}