*{
  margin: 0;
  padding: 0;
 }

#splashDisplay {
  /* outline: 4px solid red; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  max-width: 1080px;
  height: 80vh;
}


#line {
  width: 375px;
  height: 5px;
  background-color: #FFFFF2;
}

.majorSegLight {
  display: block;
  background-color: #FFFFF2;
  width: 100%;
  height: 100vh;
}

.majorSegDark {
  display: block;
  background-image: linear-gradient(rgb(15, 20, 25), rgb(14, 43, 71));
  width: 100%;
  height: 100vh;
  padding: 0%;
}

.textLight {
  text-align: center;
  color: #FFFFF2;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.splashTextCont {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splashText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Blob {
  width: 512px;
  overflow: visible;
}

.trace {
  width: 256px;
  height: 256px;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
}

.constellationContainer {
  width: fit-content;
  /* outline: 4px solid purple; */
}

.TopRight {
  position: absolute;
  right:0px;
  top: 0px;
}

.BottomRight {
  position: absolute;
  right:0px;
  bottom: 0px;
}

.TopLeft {
  position: absolute;
  left:0px;
  top: 0px;
}

.BottomLeft {
  position: absolute;
  left:0px;
  bottom: 0px;
}

@media only screen and (max-width: 1325px) {

  .TopRight {
    display: inline-block;
    position: static;
    /* outline: 4px dashed orange; */
  }
  
  .BottomRight {
    display: inline-block;
    position: static;
    /* outline: 4px dashed orange; */
  }
  
  .TopLeft {
    display: inline-block;
    position: static;
    /* outline: 4px dashed orange; */
  }
  
  .BottomLeft {
    display: inline-block;
    position: static;
    /* outline: 4px dashed orange; */
  }

  #splashDisplay {
    /* outline: 4px solid red; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 512px;
    height: fit-content;
  }

  .splashTextCont {
    min-width: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px;
  }

  .constellationGroupings {
    width: 50%;
    display: inline-block;
  }

  .constellationContainer {
    width: 50%;
    /* outline: 4px solid purple; */
  }
}

.constellationGroupings {
  display: inline-block;
}

.trace:hover {
  animation: traceAnim 0.5s ease-in forwards;
}
 
@keyframes traceAnim {
    100% {
      stroke-dashoffset: 0;
  }
}