/*Primary Styles*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  color: var(--white);
 }

 :root {
  --dark-purple: #100914;
  --dark-blue: #0e235c;
  --sunset-pink: rgb(255, 81, 241);
  --highlightblue: rgb(109, 197, 255);
  --white: #f1f1f1;
  --dark-grey: rgb(0, 10, 25);
  --dark-bg: linear-gradient(rgb(1, 21, 51), rgb(0, 10, 25));
  --light-bg: linear-gradient(var(--white), rgb(167, 167, 167));
  --constellation-margin: 10%;
  --border-width: 1px;
  --border-radius: 4px;
 }

 body {
  background-image: linear-gradient(var(--dark-purple), var(--dark-blue), var(--sunset-pink));
 }

.major-content-container, .hero-page-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

/**/


/* unique styles */

#svg-id {
  position: absolute;
  height: 500%;
  width: 100%;
  filter: blur(1px);
}

#seperator {
  width: 100%;
  height: 1px;
  margin: auto 8px auto 8px;
  background-color: var(--highlightblue);
}

.title-text {
  text-align: center;
  font-size: 3rem;
}


#title-container {
  width: fit-content;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {


  25%{
    opacity: 0;
    transform: translateY(5%);
  }

  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

/*  */


/*NavBar*/

#navBar {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  
}

@keyframes dropDown {
  0%{transform: translateY(-100%)}

  100%{transform: translateY(0%)}
}

.fixedNav {
  position: fixed;
  z-index: 1;
  background-color: var(--white);
  border-bottom: var(--border-width) solid rgb(216, 216, 216);
  animation: dropDown 0.5s forwards;
}

.fixedNav > .navButton {
  color: var(--dark-grey);
  font-weight: bold;
}

.navButton{
  font-size: 1.75rem;
  margin: 0 auto;
  font-weight: lighter;
}

.navButton:hover {
  /* make this a fade in-out line */
  border-bottom: var(--border-width) solid var(--highlightblue);
  margin-bottom: -1px;
  color: var(--highlightblue);
  cursor: pointer;
}

/**/

/* ContentBlock.js */

.minor-content-container {
  height: 80%;
  width: 80%;
}

.content-title {
  width: fit-content;
  color: var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
  font-size: 48px;
}

.content-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  margin: auto;
  width: 80%;
  max-height: 20rem;
  max-width: 45rem;

  color: var(--dark-grey);
  font-size: 24px;
  text-align: center;

  border: var(--border-width) solid var(--dark-grey);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.bg-white {
  background-image: var(--light-bg);
}

.bg-dark {
  background-image: var(--dark-bg);
}

.text-white {
  color: var(--white);
  border: var(--border-width) solid var(--highlightblue);
}

.text-dark {
  color: var(--dark-grey);
}

.title-white {
  color: var(--white);
  border-bottom: 1px solid var(--highlightblue);
}

/*  */

/*SkillIcon.js*/

.skill-icon {
  width: fit-content;
  height: fit-content;
  padding: 4px 16px;
  margin: 4px 16px;
  font-size: 30px;
  border: var(--border-width) solid var(--highlightblue);
  border-radius: var(--border-radius);
}

/**/

/*ProjectLink*/

.projectLink {
  font-size: 1rem;
  width: 7rem;
  min-height: fit-content;
  overflow: hidden;
  border: var(--border-width) solid var(--dark-grey);
  border-radius: var(--border-radius);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.projectLink:hover {
  border: var(--border-width) solid var(--highlightblue);
}

/**/

/*Constellations*/

.constellation-component {
  position: absolute;
  width: 225px;
  height: fit-content;
  margin: 0px;
}

.constellation-svg {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  width: 100%;
  height: 100%;
}

.constellation-star {
  filter: blur(1.5px);
}

.constellation-svg:hover {
  animation: traceAnim 1s ease-in forwards;
}
 
@keyframes traceAnim {
    100% {
      stroke-dashoffset: 0;
  }
}

/**/

@media only screen and (max-width: 600px) {
  
  .hide-on-small {
    display: none;
  }

  .navButton{
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: lighter;
  }  

  .content-text {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    min-height: fit-content;
    max-height: 90%;
    margin: 2rem auto;
    width: fit-content;
  }

  .splash-text-container {
    margin: auto;
    width: 80%;
  }

} 